/* @import-normalize; */

/* :root {
  --background-color: rgb(253, 238, 238);
  --color-white: #fff;
  --color-black: #000;
  --color-red: rgb(255, 0, 0);
  --color-text-premiry: #212121;
  --color-text: rgb(84, 84, 84);
  --border-primary: 2px solid rgba(84, 84, 84, 0.4);
  --box-shadow-primary: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
  --box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
