.statList {
  display: flex;
  width: 100%;
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-basis: calc(100% / 5);
  padding: 30px;
  border-top: 2px solid rgba(84, 84, 84, 0.458);
}
.label {
  margin-bottom: 8px;
  font-size: 24px;
  color: rgb(84, 84, 84);
}
.percentage {
  font-size: 34px;
  color: black;
  font-weight: 700;
}

/* #id-1 {
  background-color: rgb(92, 170, 204);
}
#id-2 {
  background-color: rgb(160, 37, 231);
}
#id-3 {
  background-color: rgb(255, 81, 46);
}
#id-4 {
  background-color: rgb(49, 243, 136);
}
#id-5 {
  background-color: rgb(92, 170, 204);
} */
