.statList {
  display: flex;
  width: 100%;
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-basis: calc(100% / 5);
  padding: 30px;
  border-top: 2px solid rgba(84, 84, 84, 0.458);
}
.label {
  margin-bottom: 8px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 3px #212121;
}
.percentage {
  font-size: 34px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 3px #212121;
  font-weight: 700;
}
